images
test.json
faceenv
face_embeddings.pkl
utils/__pycache__/
face_embeddings.json
.devcontainer/
settings.json
__pycache__
mlflow.db
.env.local
frontend/node_modules/
frontend/.next/
frontend/.env.local
