tensorflow
streamlit
opencv-python
numpy
scipy
pillow
opencv
deepface
keras
ultralytics
torch
torchvision
mtcnn
scikit-learn
tqdm
tensorflow.keras.preprocessing.image 
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121 
PIL