name: CI - Face Recognition

on:
  push:
    branches: [ "testing" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    container:
      image: keyur18/face-recognition-base

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run unit tests
        run: pytest -v

